@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  padding: 20px;
  font-family: 'Permanent Marker', sans-serif;
  background: lightyellow;
}

header,
main {
  max-width: 1000px;
  margin: 0 auto;
}

h1 {
  font-size: 3em;
  color: #da0035;
  text-shadow: 2px 3px 0 lightblue;
}

.centered {
  text-align: center;
}

.hero-list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.card {
  background: white;
  overflow: hidden;
  border: 4px solid #404040;
  border-radius: 3px;
  box-shadow: 0 0 8px 0 lightgrey;
  transition: transform .5s ease, box-shadow .5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 16px 0 lightgrey;
}

.card img {
  width: 100%;
}
