<html lang='en'>
<head>
  <meta charset="utf-8" />
  <title>Hello world!</title>
  <link type="text/css" rel="stylesheet"
        href="{{ url_for('static',
              filename='style.css')}}" />
</head>
<body>
  <header>
    <h1 class="centered">Superhero Game</h1>
  </header>
  <main>
    <h2 class="centered">  {{ hero1 }} VS {{ hero2 }}</h2>

    <div class="hero-list">

    <div>
    </div>

    <div class="card">
      <img src="{{hero1.image_path}}" />
    </div>

    <div class="card">
      <img src="{{hero2.image_path}}" />
    </div>

    <div>
    </div>

    </div>

    <a href="{{ url_for('start_fight', hero1=hero1, hero2=hero2)}}">Start fighting!</a>
  </main>
</body>
</html>
